@media all and (min-width: 480px) {
    .Users {
        text-align: center;
    }

    .User {
        display: inline-block;
        text-align: center;
        background: #F8F8F8;
        font-family: "Open Sans", sans-serif;
        font-weight: 200;
        margin: 10px 0 0 2%;
        flex-grow: 1;
        height:auto;
        width: auto;
        border-style: solid;
        border-color: #00AAF0;
        border-radius: 10px;

    }
    .User p {


    }

    .User button
    {
    background: url("../AuthentButton.png");
    color:white;
    border-radius: 5px;
    margin: 5px;


    }
    .Button {
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
    }

    .allButton{
        display: flex;
        justify-content: center;
    }

    table{
        margin: 0px auto;
    }
}
